# 分流规则配置片段包含若干条分流规则；可通过资源引用的方式使用。
# 片段文件将保存在 Quantumult X 目录下的 Profiles 子目录中。
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/filter.snippet
 
 
 
host, ad.xueqiu.com, direct

[rewrite_local]

^https?:\/\/[\w.]*\.xueqiu\.com\/v4\/ad\/campaign url script-response-body https://github.com/tobaher/tobaher/blob/main/E7AACC336E90.snippet

[mitm]

hostname=ad.xueqiu.com
